<h1>About Boys and Girls Club</h1>

<img src="https://www.bgca.org/-/media/Images/History_GoodWillClub_325.png?la=en&hash=B88E993F2E7046185F46023C1C1EBCCC932E346D" alt="historic Boys and Girls club building">

<h3>Mission</h3>
<p>To enable all young people, especially those who need us most, to reach their full potential as productive, caring, responsible citizens.</p>

<h3>Vision</h3>
<p>Provide a world-class Club Experience that assures success is within reach of every young person who enters our doors, with all members on track to graduate from high school with a plan for the future, demonstrating good character and citizenship, and living a healthy lifestyle.</p>

<h3>History</h3>
<p>Boys &amp; Girls Clubs of America had its beginnings in 1860 with three women in Hartford, Connecticut - Mary Goodwin, Alice Goodwin and Elizabeth Hammersley. Believing that boys who roamed the streets should have a positive alternative, they organized the first Club.   With character development as the cornerstone of the experience, the Club focused on capturing boys interests, improving their behavior and increasing their personal expectations and goals.  A cause was born.</p>
