<h4>Add New Club</h4>

<label>Club name:</label>
<input #name type="text">
<br>

<label>Club address:</label>
<input #address type="text">
<br>

<label>Club city:</label>
<input #city type="text">
<br>

<label>Club number:</label>
<input #number type="number">
<br>

<label>Club image (URL):</label>
<input #image type="text">
<br>

//use a select box
<label>Club weekend hours available:</label>
<input #weekendHours type="text" placeholder="true or false">
<br>

<label>Club summer hours available:</label>
<input #summerHours type="text">
<br>

<label>Club meals provided:</label>
<input #mealsProvided type="text">
<br>

<label>Club teen center available:</label>
<input #teenCenter type="text">
<br>

<label>Club website (URL):</label>
<input #website type="text">

<button (click)="beginUpdatingClub(selectedClub)" class="btn btn-success">Add Club</button>

<button routerLink="" class="btn btn-danger">Cancel</button>
