<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Club to Manage</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Club Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Club Street Address:</label>
        <br>
        <input #newAddress>
      </div>

      <div>
        <label>Club City:</label>
        <br>
        <textarea #newCity></textarea>
      </div>

      <div>
        <label>Club Number:</label>
        <br>
        <textarea #newNumber placeholder="2062232222"></textarea>
      </div>

      <div>
        <label>Club Image (URL):</label>
        <br>
        <textarea #newImage></textarea>
      </div>

      <div>
        <label>Club Weekend Hours Available:</label>
        <select>
          <option #newWeekendHours value=true selected>Yes</option>
          <option #newWeekendHours value=false>No</option>
        </select>
      </div>

      <div>
        <label>Club Summer Hours Available:</label>
        <select>
          <option #newSummerHours value=true selected>Yes</option>
          <option #newSummerHours value=false>No</option>
        </select>
      </div>

      <div>
        <label>Club Meals Provided:</label>
        <select>
          <option #newMealsProvided value=true selected>Yes</option>
          <option #newMealsProvided value=false>No</option>
        </select>
      </div>

      <div>
        <label>Club Teen Center Available:</label>
        <select>
          <option #newTeenCenter value=true selected>Yes</option>
          <option #newTeenCenter value=false>No</option>
        </select>
      </div>

      <div>
        <label>Club Website (URL):</label>
        <br>
        <textarea #newWebsite></textarea>
      </div>


      <button (click)="addClub(newName.value, newAddress.value, newCity.value, newNumber.value, newImage.value, newWeekendHours.value, newSummerHours.value, newMealsProvided.value, newTeenCenter.value, newWebsite.value); newName.value=''; newAddress.value=''; newCity.value=''; newNumber.value=''; newImage.value=''; newWeekendHours.value=''; newSummerHours.value=''; newMealsProvided.value=''; newTeenCenter.value=''; newWebsite.value=''">Add</button>
    </div>
  </div>
</div>

<h3>Club List</h3>
<div>
  <app-home></app-home>
</div> -->
