<!-- <select (change)="onGoalChange($event.target.value)">
  <option value="allClub" selected="selected">All Clubs</option>
  <option value="weekendHours">Weekend Hours Available</option>
  <option value="summerHours">Summer Hours Available</option>
  <option value="summerHours">Summer Hours Available</option>
  <option value="mealsProvided">Meals Provided</option>
  <option value="teenCenter">Teen Center Available</option>
</select> -->

<h1 class="header-text">Boys and Girls Club in the Seattle Area</h1>
<div class="branch-list">
  <div class="card-deck">
    <div class="card" *ngFor = "let club of clubs | async">
      <img id="club-image" (click) = "showDetails(club)"class="card-img-top" src={{club.image}} alt="Thumbnail for project">
      <div class="card-block">
        <h4 class="card-title" (click) = "showDetails(club)">{{club.name}}</h4>
        <p class="card-text address"><small class="text-muted"><strong>Address:</strong> {{club.address}}</small></p>
        <p class="card-text address"><small class="text-muted"><strong>City:</strong> {{club.city}}</small></p>
        <p class="card-text number"><small class="text-muted"><strong>Number:</strong> {{club.number}}</small></p>
        <div *ngIf="currentRoute === '/admin'">
          <app-edit-club [selectedClub]="club"></app-edit-club>
        </div>
      </div>
    </div>
</div>
